body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgba(247, 246, 245, 0.5);
}
*{
  font-family:Open Sans, Quicksand,sans-serif,Arial;
  font-size: 15px;
}
a{
  color: grey;
}
li{
  list-style-type: none;
}
h3{
  text-align: center;
  margin: 30px;
  color: #fcc449;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid #E8E8E8;
}
.custom-btn{
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  background-color: transparent;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.custom-btn:hover{
  box-shadow: 0 0 40px 40px #cce4eb inset;
}
.navbar-primary{
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 15%;
  background-color: rgba(228, 234, 237, 0.5);
  z-index: 0 !important;
}
.navbar-primary ul > li {
  font-size: 2em;
  margin-left: 0;
  width: 100%;
}
.navbar-brand{
  font-size: 3em;
  width: 100%;
  padding: 30px;
  padding-left: 10px;
  padding-top: 10px;
  color: grey !important;
  font-weight: bold;
  letter-spacing: 10px;
}
.calendar-container{
  margin-top: 50px;
  margin-left: 15%;
}
.calendar-admin{
  width: 100%;
}
#datepicker{
  border:none;
  border-bottom: 0.5px solid grey;
  background-color: inherit;
}
.fc-timeline-event{
  -webkit-box-shadow: 0px 5px 15px 2px rgba(237,237,237,1);
-moz-box-shadow: 0px 5px 15px 2px rgba(237,237,237,1);
box-shadow: 0px 5px 15px 2px rgba(237,237,237,1);
}
.input-modal{
  border: none;
  border-bottom: 1px solid grey;
  outline: 0;
  font-size: 1rem;
  padding: 7px 0;

  margin-bottom: 10px;
  background: transparent;
  transition: border 0.2s;
}
input[type="text"]:focus{
  border-bottom: 1px solid blue;
}
select{
  border: none;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

/* form.is-readonly .btn-save {
  display: none;
}
form.is-readonly .editable{
  cursor: text;
  background-color: #fff;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
}
form.is-editing .btn-edit {
  display: none;
} */

.datepicker-wrapper{
 margin: auto;
 width: 10%;
}
.icon {
  margin-left: 210px;
  margin-top: -30px;
  color: #E8E8E8;
  font-size:20px;
}
 /* honorine */

 .modal-header{
   background-color:#9498cb;
 }

.content-title{
   font-weight: bold;
   font-size:19px;
 }
#inputRoomName{
  background-color:#9498cb;
  color:black;
  margin-left:20px;
  border-radius:5px;
  text-align: center;
}
#RoomName{
  background-color:#9498cb;
  color:black;
  margin-left:20px;
  border-radius:5px;
  text-align: center;
}
#inputEventName{
  color:black;
  margin-left:10px;
  border-radius:5px;
  text-align: center;
}

.inputR{
  margin-left: 20PX;
}
.espace{
  margin-bottom: 10px;
}

.modalUDImg{
  width: 80%;
  height: 100%;
  box-shadow: 1px 1px 0px 0px black;
}
.alinea{
  margin-left: 15px;
}
.btn-primary{
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.tab-navbar{
  overflow: hidden;
  width: 85%;
  margin:auto;

}
.tab-navbar button {
  border: none;
  margin: 20px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.3s;
  color: #FFF;
  font-size: 1.2em;
  background-color: rgba(255, 181, 61,1);
  -webkit-box-shadow: 10px 10px 14px -6px rgba(240,240,240,1);
-moz-box-shadow: 10px 10px 14px -6px rgba(240,240,240,1);
box-shadow: 10px 10px 14px -6px rgba(240,240,240,1);
}

.tab-navbar button:hover {
  background-color: #ddd;
}

.tab-navbar button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  background-color:#fafafa;
}
.tabcontent li{
  font-size: 1em;
  margin: 10px;
}

.room-wrapper h3,i{
  display: inline-block;
}


tbody{
  background-color: rgba(255,255,255,0.5);
}

tr:nth-child(even) {
    background-color: #FFF;
}
.fc-icon span{
  border:none;
  background-color: inherit !important;
}
.fc-datagrid-cell-main{
  font-family: Josefin !important;
}
.pop-up {
  display: none;
	position: relative;
	background: #F7F7F7;
	width: 80%;
	height: 80%;
	margin-right: 0px;
	margin-bottom: 0px;
  padding: 10%;
  box-shadow:  2px 2px 2px 0px rgba(212,212,212,1);
	text-align: left;
}


#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}
#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
h1 {
    color: #EEEEEE;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader-wrapper {
    visibility: hidden;
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}
.navbar{
  height: 80px;
  z-index: 100;

}
.headline_container{
  height: 90vh;
}
.headline{
  float: left;
  margin-top: 20%;
  margin-left: 20%;
  width: 70%;
}
h2{
  font-size: 2em;
}
#girl_sitting{
  width: 36vw;
  margin-top: -20%;
  margin-left: 45%;
  z-index: -100
}
.left_box{
  position: absolute;
  width: 130%;
  height: 105vh;
  margin-top: -15%;
  padding: 15%;
  background-color: rgb(41,45,52);
  border-radius: 10%;
  transition: ;
  overflow: hidden;
}
.calendar_box{
  margin: 100px;
}
.heart_box img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.calendar_box{
  background-color: #fafafa;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.calendar_box img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.marged-row div img{
   height: 20vw;
}

















@media screen and (max-width: 1280px){
  .headline_container{
    display: block;
  }
  .left_box{
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    background-color: rgb(41,45,52);
    border-radius: 0;
  }
}

@font-face {
    font-family: Josefin;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-ExtraLight.ttf');
}
